<p id="notice"><%= notice %></p>

<h2 style="text-align: center;">Reports</h2>


     <% @reports.each do |report| %>
          <div class="card text-center">
          <div class="card-header">
            <br> Report Listing </br>
          </div>
            <div class="card-body">
              <h5 class="card-title"><strong>Report Name:</strong> <%= report.report_name %></h5>
              <h5 class="card-text"><strong>Description:</strong> <%= report.description %></h5>
              <h5 class="card-text"><strong>Version:</strong> <%= report.version %></h5>
              <h5 class="card-text"><strong>Path to ORADOCS:</strong> <%= report.oradoc_path %></h5>
              <h5 class="card-text"><strong>Path to SVN:</strong> <%= report.svn_pth %></td></h5>
              <h5 class="card-text"><strong>DB referene:</strong> <%= report.db_tab_cols_used %></h5>
              <div class="btn btn-info" > <%= link_to 'Show', report %> </div>
              <div href="#" class="btn btn-success"> <%= link_to 'Edit', edit_report_path(report) %></div>
              <div href="#" class="btn btn-danger">  <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>
              
        </div>
    <% end %>

<br>
<div class="btn btn-warning" > <%= link_to 'New Report', new_report_path %> </div>
